/* Estilo global de la página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.6;
    color: #333;
}

/* Fondo */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../img/fondo1.jpg) no-repeat center center fixed;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

/* Contenedor principal del club */
.main-club-container {
    display: flex;
    justify-content: center;
    margin: 30px 0; 
}

.main-club-card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 40%; 
    text-align: center;
    transition: transform 0.3s;
}

.main-club-card:hover {
    transform: translateY(-5px);
}

.main-club-img {
    max-width: 100%;
    border-radius: 15px 15px 0 0;
    height: auto;
}

/* Contenedor de clubes */
.club-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
}

.club-card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: calc(30% - 15px);
    margin: 10px;
    transition: transform 0.3s;
    padding: 20px;
}

.club-card:hover {
    transform: translateY(-5px);
}

.club-img {
    max-width: 70%;
    border-radius: 15px 15px 0 0;
    margin: 0 auto; 
}

.club-title {
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
}

.club-description {
    font-size: 1rem; 
    color: #666;
    padding: 10px; 
}

/* Estilos de carrusel */
.carousel {
    margin: 30px 0; 
    border-radius: 15px; 
    overflow: hidden; 
    position: relative; 
    max-width: 100%;
    height: 700px; /* Incrementar la altura del carrusel */
}

.owl-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.owl-carousel img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Asegurar que las imágenes se ajusten bien sin deformarse */
    object-position: 300px; 
    border-radius: 15px; 
}

/* Descripción del carrusel */
.carousel-caption {
    text-align: center;
    font-size: 2rem; /* Incrementar el tamaño del texto de la descripción */
    color: #fff; 
    padding: 15px;
    background: rgba(0, 69, 99, 0.8); 
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Estilos de flechas */
.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10; 
    padding: 0 20px;
}

.owl-nav button {
    background: rgba(0, 123, 255, 0.7);
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 1rem; 
    color: #fff;
    transition: background 0.3s, transform 0.3s;
    width: 40px; /* Hacer los botones de flecha más grandes */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-nav button:hover {
    background: rgba(0, 123, 255, 1); 
    transform: scale(1.2); 
}
