* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../img/fondo1.jpg) no-repeat center center fixed;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.main-club-container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.main-club-card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 40%;
    text-align: center;
    transition: transform 0.3s;
    margin: 20px;
}

.main-club-card:hover {
    transform: translateY(-5px);
}

.main-club-img {
    max-width: 100%;
    border-radius: 15px 15px 0 0;
    height: auto;
}

.club-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.club-card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: calc(30% - 15px);
    margin: 20px;
    transition: transform 0.3s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.club-card:hover {
    transform: translateY(-5px);
}

.club-img {
    max-width: 100%;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
    height: 200px;
    object-fit: cover;
}

.club-title {
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

.club-description {
    font-size: 1rem;
    color: #666;
    padding: 10px;
    text-align: center;
}

.carousel {
    margin: 50px auto;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    max-width: 90%; /* Ajusta el ancho máximo */
    width: 800px; /* Puedes modificar este valor para hacerlo más ancho o más angosto */
    height: 400px; /* Ajusta la altura para que sea un rectángulo */
    background-color: transparent;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s;
}

.carousel-caption {
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    padding: 15px;
    background: rgba(0, 69, 99, 0.8);
    border-radius: 5px;
    position: absolute;
    bottom: 20px; /* Ajusta la posición del texto */
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Modifica para controlar el ancho del texto */
    animation: slideIn 2s;
}

.owl-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: transform 0.5s;
}

.owl-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que las imágenes se adapten bien al rectángulo */
    object-position: center;
    border-radius: 15px;
    transform: scale(1); /* Remueve el zoom para que no se corten partes de la imagen */
}

.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
    padding: 0 20px;
}

.owl-nav button {
    background: #FF69B4;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.5rem;
    color: #fff;
    transition: background 0.3s, transform 0.3s;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: pulse 2s infinite;
}

.owl-nav button:hover {
    background: #FFC0CB;
    transform: scale(1.2);
}

.car-text {
    font-size: 1.8rem;
    color: #3498db;
    text-align: center;
    padding: 20px;
}
