* {
	margin:0;
	padding:0;

}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/Sources/fondo1.jpg) no-repeat center center fixed;
    background-size: cover;
    filter: blur(2px);
    z-index: -1;
  }

body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;

}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px 5px 5px 5px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #15191d; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #4e5157; 
  }

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-user-drag: none;
}

.ico{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}



header {
    background-color: rgba(0,69,99,1);
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    justify-content: space-between;
    padding: 10px;
    
}


#logo-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(0,69,99,1);
    color: white;
}

#logo-container {
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: rgba(0,69,99,1);
    color: white;
}

#logo {
    width: 80px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

#head-btn {
    display: flex;
    gap: 15px;
}

button.btn {
    background-color: #8EACCD;
    color: #16325B;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

button.btn:hover {
    background-color: #D2E0FB;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}

nav {
    &.primary-navigation ul.dropdown{
        z-index: 1000;
        top: 100%;
    }
    &.primary-navigation {
      margin: 0 auto;
      display: flex;
      
      padding: 0px 0 0 0;  
      text-align: center;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
  
      ul li {
        list-style: none;
        margin: 0 auto;
        display: inline-block;
        padding: 0 15px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        transition: all 0.5s ease;
        font-size: 15px;
      }
  
      li a {
        color: white;
      }
  
      li a:hover {
        color: #3ca0e7;
      }
  
      li:hover {
        cursor: pointer;
        
      }
  
      ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding-left: 0;
        left: 0;
        display: none;
        background: #245398;
        
      }
  
      ul li:hover > ul,
      ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        min-width: 250px;
        text-align: left;
        padding-top: 10px;
        box-shadow: 0px 3px 5px -1px #ccc;
        
      }
  
      ul li ul li {
        clear: both;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
        border-style: none;
        
      }
      
      ul li ul li a:hover {
          padding-left: 10px;
        border-left: 2px solid #3ca0e7;
        transition: all 0.3s ease;
        
    }
    }
}
  
a {
  
      text-decoration: none;
      
      &:hover {
          color: #3CA0E7;
      }
      
  }
  
   ul li ul li a { transition: all 0.5s ease; }

   #btn{
    align-items: center;
    display: flex;
    position: relative;

}

.menu-toggle {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #295F98;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    transition: width 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}

.menu-bar {
	display:none;
}


@media screen and (max-width:768px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.menu-bar {
		display:block;
		width:90%;
		background:#ccc;
        border-radius: 20px 20px 20px 20px;
        
	}

	.menu-bar .bt-menu {
		display:block;
		padding:20px;
		background:rgb(10, 95, 131);
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:15px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
        border-radius: 20px 20px 20px 20px;
        padding-bottom: 15px;
	}

	.menu-bar span {
        display: grid;
        font-size: 20px;
        align-items: center;
        justify-items: center;
        justify-content: center;
	}

    .carousel-images img {
        max-width: 100%; 
        height: auto;
    }
    
    .carousel {
        width: 100%;
        left: 0;
    }

    #btn{
        top: 10%;
        margin: auto;
    }


    .primary-navigation.open {
        left: 0; 
    }
    
    .primary-navigation {
        left: -100%; 
        transition: left 0.3s ease; 
    }
    
}


.sidebar {
    position: fixed;
    bottom: 0; 
    right: 0;
    width: 0;
    height: 200px;
    background-color: #295F98; 
    padding: 10px;
    box-sizing: border-box;
    color: white;
    border-radius: 15px 0 0 15px; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: width 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 0px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
 
}

.sidebar ul li a {
    background-color: #2c69e4;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}


.sidebar ul li a:hover {
    background-color: #9DBDFF;
    border-radius: 20px 20px 20px 20px;
}

.sidebar a{
    align-items: center;
    display:flex;
}


.sidebar-content {
    display: flex;
    flex-direction: column;
}

.sidebar-toggle {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #295F98;
    color: white;
    padding: 0px;
    border-radius: 1%;
    cursor: pointer;
    transition: width 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.sidebar-toggle:hover {
    background-color: #2c69e4;
}

.sidebar-toggle i {
    font-size: 1px;
}

.sidebar.expanded {
    width: 60px;
    
}

/* info thinking */

#club-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

#club-img.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    z-index: 1000;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


  .container.blur, .contenido.blur, .container.blur{
    filter: blur(8px);
    transition: filter 0.4s ease-in-out;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 20px;
    font-size: 15px;
    right: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    margin-top: 20px;
    position: relative;

}

.contenido{
    right: 0;
    max-width: 60%;
}


.thinking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.container .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.container .contenido {
    max-width: 50%;
}


p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 0;
}

.club-container {
    max-width: 50%;
    margin-top: 20px; 
}


.blur {
    filter: blur(8px);
    transition: filter 0.4s ease-in-out;
}

#main-cont.blur,
.thinking.blur{
    filter: blur(8px);
    transition: filter 0.4s ease-in-out;
}

.container .thinking {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}



/* imagen de los clubes */

.container .thinking {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 20px;
    font-size: 15px;
    right: 0;
    
}

.club-container {
    max-width: 30%;
}

.contenido {
    max-width: 70%;
}

p {
    text-align: justify;
    text-justify: inter-word;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(163, 160, 160, 0.8);
    padding: 40px 20px; 
    border-radius: 10px;
    max-width: 1600px;
    margin: 50px auto;
    min-height: 600px; 
  }

  .container-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px 20px; 
    border-radius: 10px;
    max-width: 1600px;
    margin: 50px auto;
    min-height: 600px; 
  }

  /* Footer */

  footer {
    background-color: #004080;
    color: white;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

.footer-cont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-col {
    flex: 1;
    margin: 10px 0;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #f0f0f0;
}

.footer-col p,
.footer-col ul {
    font-size: 14px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    color: #c0c0c0;
    text-decoration: none;
}

.footer-col ul li a:hover {
    color: #ffffff;
}

.social {
    margin-top: 10px;
}

.social a {
    text-decoration: none;
    font-size: 24px;
    color: #c0c0c0;
    margin-right: 15px;
    transition: color 0.3s;
}

.social a:hover {
    color: #ffffff;
}

.footer-pie {
    background-color: rgb(3, 72, 141);
    padding: 10px 0 ;
    margin-top: 30px;
    font-size: 14px;
    width: 97%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
}

.footer-pie p {
    margin: 0;
    color: #c0c0c0;
}